@page
@model OA.Web.Pages.LoginModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <h3>Sign In</h3>
    <form method="post" asp-page="login">
        <table>
            <tr>
                <td>Username</td>
                <td>
                    <input asp-for="@Model.account.Username" />
                </td>
            </tr>
            <tr>
                <td>Password</td>
                <td>
                    <input type="password" asp-for="@Model.account.Password" />
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" value="Login" />
                    <br />
                    <a asp-page="signup">Sign Up</a>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>
