@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <ul>
        <li>
            <a asp-controller="User" asp-action="Index">Tabulator</a>
        </li>
        <li>
            <a asp-controller="User" asp-action="Index">HighCharts</a>

        </li>
    </ul>
</div>
